@using pote.Config.Admin.WebClient.Model
@using pote.Config.Admin.WebClient.Services

@inherits LayoutComponentBase
@inject ThemeService ThemeService
@implements IDisposable

<MudThemeProvider @ref="_themeProvider" IsDarkMode="@ThemeService.IsDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudDrawer Open="true" Elevation="2">
            <MudDrawerHeader>
                <MudText Typo="Typo.h5" Class="mt-1" Style="padding-top: 3px">Config Service</MudText>
            </MudDrawerHeader>
            <NavMenu />
            <div style="flex: 1"></div>
            <ThemeMenu />
        </MudDrawer>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <NavMenuMini />
    </MudHidden>
    <MudMainContent Style="padding-top: 0">
        <CascadingValue Value="@PageError">
            @if (PageError.IsError)
            {
                <MudItem Class="ErrorBox">
                    <MudText>@PageError.ErrorMessage</MudText>
                </MudItem>
            }
            @Body
        </CascadingValue>
    </MudMainContent>
</MudLayout>

@code {
    private MudThemeProvider _themeProvider = null!;
    public readonly PageError PageError = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        PageError.SetStateHasChangedCallback(this.StateHasChanged);
        ThemeService.OnChange += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ThemeService.InitializeAsync();
            StateHasChanged();
        }
    }

    protected override void OnParametersSet()
    {
        PageError.IsError = false;
    }

    public void Dispose()
    {
        ThemeService.OnChange -= StateHasChanged;
    }
}
