.ErrorBox {
    border: 1px solid #000;
    padding: 4px;
    margin: 5px !important;
    background-color: darkred;
    color: #fff;
}

.Headline {
    font-size: 21px !important;
    font-weight: bold !important;
}