<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" allowInsecureConnections="true" />
    <add key="TeamCity" value="http://buildsrv04:50000/guestAuth/app/nuget/v1/FeedService.svc/" allowInsecureConnections="true" />
</packageSources>
</configuration>